body {
  margin: 0;
  background: #000; /* Fondo de la pagina (negro)*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: linear-gradient(to bottom, #51bce6, #85d1d9, #dbebed); /* Gradiente del cielo */
  display: block;
}
