body {
  margin: 0;
  background: #000; /* fondo negro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  /* Gradiente vertical dentro del canvas */
  background: linear-gradient(to bottom, #51bce6, #85d1d9, #dbebed);
  display: block;
}
